---
import Icons from "./Icons.astro";
---

<button class="theme-toggle" type="button" aria-label="Toggle color theme" data-theme-toggle>
  <span data-theme-icon="sun"><Icons name="sun" /></span>
  <span data-theme-icon="moon" hidden><Icons name="moon" /></span>
</button>
